body{
    font-family: 'Karla', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    
}

.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 25px;
    color: white;
    font-weight:700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow-div{
    width:35%;
    margin-left: 10%;
    box-shadow: 10px 7px 14px gray;
    border-radius: 14px;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#box1{
    border-left: 5px solid;
    border-image: linear-gradient(orange,rgb(111, 250, 93));
    border-image-slice: 1;
}
#box2{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(73, 48, 184),rgb(190, 10, 64));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}

/* ei ongsho nia study kora lagbe